@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: #252f30;
  padding: 1rem;
  min-height: 100vh;
}

h1 {
  margin: 1rem 0;
}

a {
  color: #6cddcc;
}

p {
  margin-bottom: .2rem;
}

.add-link {
  color: #6cddcc;
  text-decoration: none;
  border:#6cddcc solid 2px;
  padding: .3rem .6rem;
  border-radius: 10px;
  
}

.container {
  margin: .5rem;
  padding: .5rem;
}

.mb {
  margin-bottom: 10px;
}

.mt {
  margin-top: 1.5rem;
}

.btn {
  font-family: 'Lato', sans-serif;
  font-size: .9rem;
  padding: .4rem 1.2rem;
  background-color:#6cddcc;
  margin: .3rem .3rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.blue {
  background-color: rgb(127, 214, 255) !important;
}

.align {
  text-align: center;
  
}

.script-code {
  display: inline-block;
  padding: 1rem .8rem;
  text-align: start;
  background-color: black;
  width: 900px;
}

.code-container {
  overflow: auto; /* Enable horizontal and vertical scrolling if necessary */
  white-space: pre-wrap; /* Preserve whitespace and wrap long lines */
  padding: 10px; /* Add padding for better readability */

}

.center {
  display: flex;
  justify-content: center;
}

.bg-tut {
  background-color: rgb(0, 61, 61);
  padding: 1rem;
  /* border-radius: 10px; */
  width: 900px;
}

.main-content-container {
  min-height: 100vh;
}

.tut {
  margin-top: 2rem;
  margin-bottom: 4rem;
  text-align: start;
}

.footer-code {
  display: inline-block;
  background-color: rgb(22, 22, 22);
  padding: 8px;
  margin-top: .5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

[disabled] {
  background-color: #c9c9c9;
  color: #464646;
}

.spreadsheet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  
}

.table-title {
  text-align: start;
  color: #6cddcc;
  margin-bottom: .3rem;
}

.copy-btn {
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 8px;
  color: #252f30;
  background-color: #6cddcc;
  border: 0;
  cursor: pointer;
}

.copy-ok {
  border-radius: 50px;
  padding: 2px 4px;
  margin-left: 8px;
  color: #252f30;
  background-color: #76dd6c;
  border: 0;
}